.genre-menu-container {
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.title-container {
    padding-left: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    z-index: 10;
}

.title {
    margin-bottom: 10px;
    font-weight: 300;
}

.title-link {
    color: inherit;
    text-decoration: inherit;
}

.title-link:hover {
    color: inherit;
    text-decoration: inherit;
}

.menu-bar-container {
    height: 60px;
}

.no-padding-right {
    padding-right: 0;
}