.scroll-menu {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.buttons-container {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.buttons-container::-webkit-scrollbar {
    height: 0 !important;
    width: 0 !important;
}

.left-icon-container {
    margin-right: 10px;
}

.right-icon-container {
    margin-left: 10px;
}

.icon {
    color: #fff;
} 